@inherits LayoutComponentBase
<HeadContent>
    <RadzenTheme Theme="material" />
</HeadContent>
<div class="layout-principal">
    <ThemeToggle />
    @Body
</div>
<RadzenComponents />
<RadzenNotification />
<style>
    .layout-principal {
        width: 100%;
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }

    body {
        margin: 0;
        padding: 0;
    }
</style>